@import "../../index.scss";

.main-container {
  transition: all 1s ease;
  z-index: 10;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    $second-color,
    $fourth-color
  );
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-areas:
    "info-card gen gen gen gen"
    "evol evol evol evol str";
  row-gap: 3rem;
  padding: 2rem;
  overflow-x: hidden;
}

@media (max-width: 840px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
